extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae neque sed nulla imperdiet dictum. Cras ut ultricies neque. Phasellus ornare faucibus metus, in pharetra mauris tincidunt ut. Aliquam commodo fermentum risus, eget mollis nisi dignissim vitae. Proin sed maximus sapien. Aliquam ut tincidunt tellus, sit amet venenatis dui. 

                p Nunc eget tellus sed ante blandit blandit. Morbi neque mauris, venenatis nec nibh a, accumsan fringilla augue. Nulla odio sem, interdum id odio a, viverra sodales magna. Donec hendrerit sit amet urna condimentum hendrerit. Fusce tristique massa nec ligula tempus eleifend dapibus aliquam nibh. Proin nunc est, tincidunt sit amet enim nec, faucibus vestibulum risus. 

                p Nam tempor suscipit sem, id tincidunt ex. Vestibulum vel libero eget nisl malesuada blandit sit amet at magna. Etiam laoreet leo ac justo viverra, id commodo arcu elementum. Donec nunc nisi, pellentesque vel erat sit amet, venenatis lacinia quam. Ut vel sem tempor, finibus orci porta, commodo ligula. Nullam nunc ipsum, blandit eu sollicitudin malesuada, ultrices sed turpis. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nunc eget tellus sed ante blandit blandit. Morbi neque mauris, venenatis nec nibh a, accumsan fringilla augue. Nulla odio sem, interdum id odio a, viverra sodales magna. Donec hendrerit sit amet urna condimentum hendrerit. Fusce tristique massa nec ligula tempus eleifend dapibus aliquam nibh. Proin nunc est, tincidunt sit amet enim nec, faucibus vestibulum risus. 
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc eget tellus sed ante blandit blandit. Morbi neque mauris, venenatis nec nibh a, accumsan fringilla augue. Nulla odio sem, interdum id odio a, viverra sodales magna. Donec hendrerit sit amet urna condimentum hendrerit. Fusce tristique massa nec ligula tempus eleifend dapibus aliquam nibh. Proin nunc est, tincidunt sit amet enim nec, faucibus vestibulum risus.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nunc eget tellus sed ante blandit blandit. Morbi neque mauris, venenatis nec nibh a, accumsan fringilla augue. Nulla odio sem, interdum id odio a, viverra sodales magna. Donec hendrerit sit amet urna condimentum hendrerit. Fusce tristique massa nec ligula tempus eleifend dapibus aliquam nibh. Proin nunc est, tincidunt sit amet enim nec, faucibus vestibulum risus.